body {
    color: white;
    background-color: #099988;
    font-family: serif;
    height: auto;
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
}


button {
    background-color: #099988;
    color: white;
    border-style: none;
    border-bottom: solid 1px white;
    font-size: 15px;
    font-family: serif;
    margin-right: 20px;
    margin-left: 20px;
}


.header {
    background-image: url("");
}

.header-logo {
    font-size: 20px;
    text-align: center;
}

.header-list {
    font-size: 15px;
    text-align: center;
}

.Note {
    margin-top: 100px;
}

.Note-logo {
    font-size: 18px; 
}

.Note-list {
    margin-left: 30px;
}

.Note-list-link {
    margin-left: 30px;
}
